* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  height: 90vh;
  width: 90vh;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-a {
  background-color: orange;
  background-image: url('https://images.unsplash.com/photo-1536244636800-a3f74db0f3cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1092&q=80');
  background-attachment: fixed;
  background-size: cover;
}

.background-b {
  background-color: pink;
  background-image: url('https://images.unsplash.com/photo-1502134249126-9f3755a50d78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-attachment: fixed;
  background-size: cover;
}

#about, #services {
  grid-column-end: span 2;
}

.title-home {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}

.box-home:hover {
  filter: brightness(120%);
}